*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.row{
    display: flex;    
    height: auto;
    background-color: #ECF0F1;
}
.img-capa img{
    position: absolute;
    width: 84%;
    height: auto;   
    top: 29%;
    margin-left: 7%;
    
    
}
.img-capa{
    position: relative;
    width: 88%;
    height: auto;     
}
.box-txt{
    width: 72%;
    flex-wrap: wrap;
    padding: 40px 70px;
}
.img-responsive{
    max-width: 100%;
    height: auto;
}
.box-txt h3{
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 800;
    line-height: 39px;
    margin-top: 1rem
}
.box-txt p{
    width: 90%;
    font-family: "Open Sans";
    font-weight: 400;
    line-height: 29px;
    color: #55636f;
    text-align:left;
    margin-top: 1rem;      
}
h5{
    font-family: Montserrat;
    font-size: 25px;    
    font-weight: 900;
    line-height: 26px;
    color: #E74C3C;    
}
button{
    width: 87%;
    margin-top: 2rem;    
    height: 87px;
    text-transform: uppercase;
    color: #fff;
    background-color: #239cf8;
    font-family: "Open Sans";
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    border: none;
    border-radius: 4px;  
    padding: 23px;  
}

/*conteudo*/
h2{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 40px;
    padding-top: 5%;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}
.conteudo{
    display: flex;
    text-align: center;   
}
article{
    width: 36%;
    height: auto;    
    margin-left: 3px;
    padding: 0 30px; 
    background-color: green;     
}
article .circle{
    display: inline-block;
}
article p{
    font-size: 15px;
    line-height: 29px;
    color: #55636f;
    font-family: "Open Sans";
    font-weight: 400;   
}

/*Circle*/
.circle p {
    color:#239CF8;
    line-height: 45px;
    font-size: 22px;
    font-weight: 400;
    font-family: "Open Sans";
}
.circle{
    background-color:#fff;
    width: 50px;
    height: 50px;
    border-radius:50%;
    border: 2px solid #239CF8;
    margin-top: 11%;
    
    
}
